.logo-slider-container {
  width: 100%;
  overflow: hidden;
  background: transparent;
  position: relative;
  background-color: var(--primary-color);
  margin-bottom: 4rem;
  margin-top: 2rem;
  border-bottom: 0.4rem solid var(--light-secondary-blue);
}

.logo-swiper {
  width: 100%;
  height: 100%;
}

.logo-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  transition: transform 0.3s ease;
}

.logo-image-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.logo-image {
  max-width: 100%;
  max-height: 50px;
  object-fit: contain;
  transition: all 0.3s ease;
}

/* Custom scrollbar for the slider */
.logo-swiper .swiper-wrapper {
  transition-timing-function: linear !important;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .logo-item {
    height: 50px;
  }

  .logo-image {
    max-height: 50px;
  }

  .logo-image-wrapper {
    padding: 15px;
  }
}

@media (max-width: 480px) {
  .logo-item {
    height: 70px;
  }

  .logo-image {
    max-height: 40px;
  }

  .logo-image-wrapper {
    padding: 10px;
  }
}

@media(max-width: 375px){
  .logo-slider-container{
    margin-bottom: 0px;
  }
}
