.our-services-section {
  padding-bottom: 2.5rem;
}

.our-services-cards-container {
  display: flex;
  gap: 2rem;
  row-gap: 2rem;
  flex-wrap: wrap;
}

.our-services-card {
  width: 23rem;
  padding: 0rem 0rem 1.5rem 0rem;
  background-color: var(--light-secondary-blue);
  border-radius: 1.2rem;
}

.our-services-card-headings {
  max-width: 11rem;
}

.our-services-card-heading {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 2rem 2rem 1rem 2rem;
}

.our-services-card-heading h4 {
  font-size: 1.25rem;
  color: var(--light-secondary-blue);
  font-weight: 550;
}

.our-services-card .card-heading-1 {
  background-color: var(--primary-color);
  border-radius: 6px;
  padding: 0rem 1rem 0rem 0.5rem;
  display: inline-block;
}
.our-services-card .card-heading-2 {
  background-color: var(--primary-color);
  border-radius: 6px;
  padding: 0rem 1rem 0rem 0.5rem;
  display: inline-block;
}

.coding-icon {
  height: 3.5rem;
}
.other-image {
  height: 4rem;
}

.our-services-card-description {
  padding: 0rem 2rem;
  font-size: 1rem;
}

/* ======= our-services-card-dark for dark UI ====== */
.our-services-card-dark {
  width: 23rem;
  padding: 0rem 0rem 1.5rem 0rem;
  background-color: var(--primary-color);
  border-radius: 1.2rem;
}

.our-services-card-dark-heading h4 {
  font-size: 1.25rem;
  color: var(--primary-color);
  font-weight: 550;
}

.our-services-card-dark .card-heading-1 {
  background-color: var(--light-secondary-blue);
  color: var(--primary-color);
  border-radius: 6px;
  padding: 0rem 1rem 0rem 0.5rem;
  display: inline-block;
}
.our-services-card-dark .card-heading-2 {
  background-color: var(--light-secondary-blue);
  color: var(--primary-color);
  border-radius: 6px;
  padding: 0rem 1rem 0rem 0.5rem;
  display: inline-block;
}

.our-services-card-description-dark {
  padding: 0rem 2rem;
  font-size: 1rem;
  color: var(--light-secondary-blue);
}

@media (max-width: 768px) {
  .our-services-cards-container {
    flex-direction: column;
    align-items: center;
  }

  .our-services-card {
    width: 100%;
  }

  .our-services-card-dark {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .our-services-cards-container {
    row-gap: 1rem;
  }
}
